<div class="modal fade" id="modalPasswordChange">
    @*<div class="modal-dialog">*@
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title"><i class="icon-cogs"></i> {{PasswordChageTitle}}</h4>
            </div>
            <div class="clearfix"></div>
            <div class="modal-body">
                <form novalidate name="frmChangePassword" id="frmChangePassword" ng-model="frmChangePassword" class="form-horizontal row-border">
                    <input type="hidden" id="itemWYId" readonly="readonly" ng-model="itemWYId" />
                    <div class="col-md-12" style="padding:0px;">

                        <div class="col-md-12">


                            <div class="form-group">
                                <label class="col-md-4 control-label">Current Password:</label> <span class="red">*</span>
                                <div class="col-md-6">
                                    <input type="text"
                                           id="txtCurrentPassword"
                                           placeholder="Current Password"
                                           class="form-control"
                                           name="txtCurrentPassword" ng-model="txtCurrentPassword" ng-blur="CheckCurrentPassword()" required />
                                </div>
                                <img src="~/Content/img/TickMark.png" ng-show="frmChangePassword.txtCurrentPassword.$dirty && frmChangePassword.txtCurrentPassword.$valid" class="iconClass" />
                                <img src="~/Content/img/Cross.png" ng-show="frmChangePassword.txtCurrentPassword.$dirty && frmChangePassword.txtCurrentPassword.$invalid" class="iconClass" />

                            </div>
                            <div class="form-group">
                                <label class="col-md-4 control-label">New Password:</label><span class="red">*</span>
                                <div class="col-md-6">
                                    <input type="text"
                                           id="txtbxNewPassword"
                                           placeholder="New Password"
                                           class="form-control"
                                           name="txtbxNewPassword" ng-model="txtbxNewPassword" required />
                                </div>
                                <img src="~/Content/img/TickMark.png" ng-show="frmChangePassword.txtbxNewPassword.$dirty && frmChangePassword.txtbxNewPassword.$valid" class="iconClass" />
                                <img src="~/Content/img/Cross.png" ng-show="frmChangePassword.txtbxNewPassword.$dirty && frmChangePassword.txtbxNewPassword.$invalid" class="iconClass" />

                            </div>
                            <div class="form-group">
                                <label class="col-md-4 control-label">Confirm password:</label><span class="red">*</span>
                                <div class="col-md-6">
                                    <input type="text"
                                           id="txtbxConfirmpassword"
                                           placeholder="Confirm password"
                                           class="form-control"
                                           name="txtbxConfirmpassword" ng-model="txtbxConfirmpassword" required ng-blur="CheckNewConf()" />
                                </div>
                                <img src="~/Content/img/TickMark.png" ng-show="frmChangePassword.txtbxConfirmpassword.$dirty && frmChangePassword.txtbxConfirmpassword.$valid" class="iconClass" />
                                <img src="~/Content/img/Cross.png" ng-show="frmChangePassword.txtbxConfirmpassword.$dirty && frmChangePassword.txtbxConfirmpassword.$invalid" class="iconClass" />

                            </div>
                            <br />
                            <div style="text-align:center; padding-left:5px;">
                                <span id="save" class="btn btn-success" ng-click="ChangePaswordSave()" ng-disabled="frmChangePassword.$invalid">
                                    <i class="icon-save"></i> Change Password
                                </span>
                            </div>
                        </div>
                    </div>


                </form>
                    </div>
             

            </div>
            <div class="clearfix"></div>
            <div class="modal-footer">
                <div class=" col-md-12">
                    <div class="col-md-8">
                    </div>
                    <div class="col-md-4">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>