
<form novalidate name="frmUser" id="userForm" class="form-horizontal row-border">
    <input type="hidden" id="userID" readonly="readonly" ng-model="EditUserID" />

    <div class="widget-content">
        <div class="col-md-12">
            <div class="form-group">
                <label class="col-md-3 control-label">Company</label>
                <div class="col-md-7">
                    <select id="companyDropDown" class="select2-select-00"
                            ng-model="ddlCompany"
                           
                            name="companyDropDown"
                            data-placeholder="--Select Company--"
                            style="width: 100%" ng-options="mdl.CompanyID as mdl.CompanyName for mdl in ListCompany">
                        <option></option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label">Module</label>
                <div class="col-md-7">
                    <select id="moduleDropDown" class="select2-select-00"
                            ng-model="ddlModule"
                            name="moduleDropDown"
                            data-placeholder="--Select Module--"
                            style="width: 100%" ng-options="mdl.ModuleID as mdl.ModuleName for mdl in ListModule">
                        <option></option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label">Code</label>
                <div class="col-md-7">
                    <input type="text" id="code" class="form-control" name="code" ng-model="CustomCode" />
                </div>
            </div>
            
            @*<div class="form-group">
                <label class="col-md-3 control-label">Status</label>
                <div class="col-md-7">
                    <select id="statusDropDown" class="select2-select-00"
                            ng-model="ddlStatus"
                            name="statusDropDown"
                            data-placeholder="--Select Status--"
                            style="width: 100%" ng-options="mdl.StatusID as mdl.StatusName for mdl in ListStatus">
                        <option></option>
                    </select>
                </div>
            </div>*@
        </div>
    </div> <!-- /.widget-content -->
</form>
