@*<input id="hdoDetailSearch" ng-model="HdoDetailSearch" type="text" class="form-control search" placeholder="Search...">*@

<table class="table table-hover general-table right-bottom-scroll-s">
    <thead>
        <tr>
            <th style="display:none">HDODetailID</th>
            <th style="display:none">PI ID</th>
            <th style="display:none">Item ID</th>
            <th>
                <div class="roundedTwo">
                    <input type="checkbox" ng-model="selectedAll" ng-click="checkAll()" />
                </div>
            </th>
            <th>PI NO</th>
            <th>Item Name</th>
            <th style="display:none">Price</th>
            <th>Quantity</th>
            <th>Remaining Quantity</th>
            <th style="display:none">Hold Quantity</th>
            <th>Amount($)</th>
            @*<th>Lot</th>
                <th>Batch</th>*@
            <th>Grade</th>
            <th>Roll</th>
            <th>Gross Weight(Kg)</th>
            <th>Quantity(Yds)</th>
            <th>Net Weight(Kg)</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="dataModel in ListHDOInfoDetails|filter:HdoDetailSearch">
            <td style="display:none">{{dataModel.HDODetailID}}</td>
            <td style="display:none">{{dataModel.PIID}}</td>
            <td style="display:none">{{dataModel.ItemID}}</td>
            <td>
                @*{{dataModel.ProductName}}*@
                <div class="roundedTwo">
                    <input type="checkbox" ng-click="toggleSelection()" ng-model="dataModel.Selected" />
                </div>
            </td>
            <td>{{dataModel.PINO}}</td>
            <td>{{dataModel.ItemName}}</td>
            <td style="display:none">{{dataModel.UnitPrice | number:2}}</td>
            <td>{{dataModel.Quantity | number:2}}</td>
            <td>{{dataModel.RemainingQty | number:2}}</td>
            <td style="display:none">{{dataModel.HoldQty | number:2}}</td>
            <td>{{dataModel.Amount | number:2}}</td>

            @*<td>
                    <div style="width:90px">
                        <select id="LotList" class="select2-select"
                                ng-model="dataModel.LotId"
                                ng-change="getChangedLotID()"
                                name="lotList" data-tags="false"
                                data-placeholder="--Select Lot No.--"
                                style="width: 100%">
                            <option></option>
                            <option ng-repeat="ln in dataModel.LotNos" value="{{ln.LotID}}">{{ln.LotNo}}</option>
                        </select>
                    </div>
                </td>*@
            @*<td>
                    <div style="width:90px">
                        <select id="BatchList" class="select2-select"
                                ng-model="dataModel.BatchId"
                                ng-change="getChangedBatchID()"
                                name="batchList"
                                data-placeholder="--Select Batch No.--"
                                style="width: 100%">
                            <option></option>
                            <option ng-repeat="Bn in dataModel.BatchNos" value="{{Bn.BatchID}}">{{Bn.BatchNo}}</option>
                        </select>
                    </div>
                </td>*@
            <td>
                <div style="width:90px">
                    <select id="GradeList" class="select2-select"
                            ng-model="dataModel.ItemGradeID"
                            @*ng-change="getChangedBatchID()"*@
                            name="GradeList"
                            data-placeholder="--Select Grade--"
                            style="width: 100%">
                        <option></option>
                        <option ng-repeat="gr in dataModel.GradeList" value="{{gr.ItemGradeID}}">{{gr.GradeName}}</option>
                    </select>
                </div>
            </td>

            <td><input type="number" id="roll" name="roll" class="form-control" ng-model="dataModel.Roll" /></td>
            <td><input type="number" id="grossQty" name="grossQty" class="form-control" ng-model="dataModel.GrossQuantityKg" /></td>
            <td>
                <input type="number" id="qtyYds" name="qtyYds" class="form-control" ng-model="dataModel.QuantityYds"
                       ng-change="calculation(dataModel)" />
            </td>
            <td><input type="number" id="netQty" name="netQty" class="form-control" ng-model="dataModel.NetQuantityKg" /></td>

        </tr>
    </tbody>
</table>
@*<p ng-show="(ListHDOInfoDetails | filter:HdoDetailSearch).length == 0" style="color:red">Nothing found!</p>*@

@*<div class="loadmore">
        <div ng-show="loaderMore" ng-class="result">
            {{lblMessage}}
        </div>
        <div ng-show="scrollended" ng-class="result">
            {{lblMessage}}
        </div>
    </div>*@