@*<input id="DCInfoSearch" ng-model="DCInfoSearch" type="text" class="form-control search" placeholder="Search...">*@
<table class="table  table-hover general-table right-bottom-scroll-m">
    <thead>
        <tr>
            <th>Chemical</th>
            <th>Required&nbsp;Quantity</th>
            <th>Supplier</th>
            <th>Batches</th>
            <th>Unit</th>
            <th>Actual Quantity</th>
            <th>Current&nbsp;Stock</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="dataModel in ListChemicalInfo">            
            <td>{{dataModel.ItemName}}</td>
            <td>{{dataModel.MinQty}} - {{dataModel.MaxQty}}</td>            
            <td>
                <div style="width:100px">
                    <select id="ddlSupplierList" class="select2-select"
                            ng-model="dataModel.SupplierID"
                            name="ddlSupplierList"
                            data-placeholder="--Select Supplier--"
                            ng-change="loadCurrentStock(dataModel)"
                            style="width: 100%" ng-options=" user.SupplierID as user.SupplierName for user in dataModel.Supplier">
                        <option>--Select Supplier--</option>
                    </select>
                </div>
            </td>
            <td>
                <div style="width:100px">
                    <select id="ddlBatchList" class="select2-select"
                            ng-model="dataModel.BatchID"
                            name="ddlBatchList"
                            data-placeholder="--Select Batches--"
                            ng-change="loadCurrentStock(dataModel)"
                            style="width: 100%"
                            ng-options="user.BatchID as user.BatchNo for user in dataModel.Batch">
                        <option>--Select Batches--</option>
                    </select>
                </div>
            </td>
            <td>
                <input type="hidden" id="UnitList" name="UnitList" class="form-control" ng-model="dataModel.UnitID" />
                {{dataModel.UOMName}}
            </td>
            <td><input type="number" id="txtActualQuantity" name="txtActualQuantity" class="form-control" ng-model="dataModel.AccQty" ng-change="CalculateStock(dataModel)" ng-readonly="dataModel.IsQtyReadOnly" /></td>
            <td><input type="number" id="CurrentStock" name="CurrentStock" class="form-control" ng-model="dataModel.CurrentStock" readonly /></td>
            <td><input type="hidden" id="UnitPrice" name="UnitPrice" class="form-control" ng-model="dataModel.UnitPrice" readonly /></td>
            <td style="text-align:left; color:white">
                <span class="label label-danger label-mini">
                    <a href="javascript:void(0);" data-toggle="modal" class="bs-tooltip" title="Select">
                        <i class="icon-trash" ng-click="deleteRow($index)"></i>
                    </a>
                </span>
            </td>
        </tr>
    </tbody>
</table>
@*<p ng-show="(ListDCInfoDetails | filter:DCInfoSearch).length == 0" style="color:red">Nothing found!</p>*@

<div class="loadmore">
    <div ng-show="loaderMore" ng-class="result">
        {{lblMessage}}
    </div>
    <div ng-show="scrollended" ng-class="result">
        {{lblMessage}}
    </div>
</div>