@{
    ViewBag.Title = "Delivery Challan";
}
<div ng-controller="tokenCtrl">
    <div class="container" ng-controller="DCCtrl">
        <!-- Breadcrumbs line -->
        <div ng-controller="BreadcrumbCtrl">
            @Html.Partial("~/Areas/SystemCommon/Views/Shared/_Partial/_Breadcrumbs.cshtml")
        </div>
        <!-- /Breadcrumbs line -->
        <!--=== Page Header ===-->
        <div class="page-header">

        </div>
        <!-- /Page Header -->
        <!--=== Page Content ===-->

        <div class="row">
            <div class="col-md-12">
                <div class="widget box">
                    <div class="widget-header">
                        <h4><i class="icon-reorder"></i> {{PageTitle}}</h4>
                        <div class="toolbar no-padding">
                            <div class="btn-group">
                                <span id="reset" class="btn btn-danger margin-right-btn" ng-click="clear()">
                                    <i class="icon-refresh"></i> Reset
                                </span>
                                <span id="Show" class="btn btn-info margin-right-btn" ng-click="ShowHide()">
                                    <i class="icon-search" ng-show="IsListIcon"></i>
                                    <i ng-show="IsCreateIcon" class="icon-plus-sign"></i> {{btnDCShowText}}
                                </span>
                                <span id="save" class="btn btn-success margin-right-btn" ng-click="save()" ng-disabled="frmDC.$invalid">
                                    <i class="icon-save"></i> {{btnDCSaveText}}
                                </span>
                                <span class="btn btn-xs widget-collapse"><i class="icon-angle-down"></i></span>
                            </div>
                        </div>
                    </div>
                    <div class="widget-content" ng-show="IsShow">
                        @Html.Partial("~/Areas/Commercial/Views/DC/_Partial/_formDC.cshtml")
                    </div>
                </div>
            </div> <!-- /.col-md-12 -->
        </div>
        <div class="row" ng-show="IsDetailShow">
            <div class="col-md-12">
                <div class="widget box">
                    <div class="widget-header">
                        <h4><i class="icon-reorder"></i> {{ListTitle}}</h4>
                        <div class="toolbar no-padding">
                            <div class="btn-group">
                                <span class="btn btn-xs widget-collapse"><i class="icon-angle-down"></i></span>
                            </div>
                        </div>
                    </div>
                    <div class="widget-content">
                        <div when-scrolled="loadPIRecords(1)">
                            @Html.Partial("~/Areas/Commercial/Views/DC/_Partial/_tableDCDetail.cshtml")
                        </div>
                    </div>
                </div>
            </div> <!-- /.col-md-12 -->
        </div>
        <div class="row" ng-hide="IsHidden">
            <div class="col-md-12">
                <div class="widget box">
                    <div class="widget-header">
                        <h4><i class="icon-reorder"></i> {{ListTitleDCMaster}}</h4>
                        <div class="toolbar no-padding">
                            <div class="btn-group">
                                <span class="btn btn-xs widget-collapse"><i class="icon-angle-down"></i></span>
                            </div>
                        </div>
                    </div>
                    <div class="widget-content no-padding">
                        <div when-scrolled="loadAllDCMasterRecords(0)">
                            @Html.Partial("~/Areas/Commercial/Views/DC/_Partial/_tableDCMasterInfo.cshtml")
                        </div>
                    </div>
                </div>
            </div> <!-- /.col-md-12 -->
        </div>
    </div>
    </div>

    <!-- /.container -->
    @section AngularScript{
        <script src="~/Areas/Commercial/ScriptsNg/Controllers/DCCtrl.js"></script>
        <script src="~/Areas/Commercial/ScriptsNg/Service/CrudService.js"></script>
        <script src="~/Areas/SystemCommon/ScriptsNg/Controllers/BreadcrumbCtrl.js"></script>
        <script src="~/Areas/Token/TokenController.js"></script>
    }
