
<form novalidate name="frmSales" id="salesForm" class="form-horizontal row-border">
    <input type="hidden" id="saleID" readonly="readonly" ng-model="SaleID" />

    <div class="form-group">
        <label class="col-md-3 control-label">Sale Type:</label>
        <div class="col-md-7">
            <input type="number"
                   id="saleType"
                   class="form-control"
                   name="saleType" ng-model="SaleType" required />
        </div>
        <span class="error" ng-show="(frmSales.$dirty||submitted) && frmSales.saleType.$error.required">*</span>
    </div>


    <div class="form-group">
        <label class="col-md-3 control-label">Sale No:</label>
        <div class="col-md-7">
            <input type="text"
                   id="saleNo"
                   class="form-control"
                   name="saleNo" ng-model="SaleNo" required />
        </div>
        @*<span class="error" ng-show="(frmSales.$dirty ||submitted) && frmCustomer.$error.email">Invalid type..!</span>*@
        <span class="error" ng-show="(frmSales.$dirty ||submitted) && frmSales.saleNo.$error.required">*</span>
    </div>

    <div class="form-group">
        <label class="col-md-3 control-label">Sale Date:</label>
        <div class="col-md-7">
            <input type="date"
                   id="saleDate"
                   class="form-control"
                   name="saleDate" ng-model="SaleDate" />
        </div>
    </div>

    <div class="form-group">
        <label class="col-md-3 control-label"></label>
        <div class="col-md-7">
            <input type="button" id="reset" class="btn btn-danger" value="Reset" ng-click="clear()" ng-disabled="frmSales.$invalid" />
            <input type="button" id="save" class="btn btn-success" value="{{btnSaleSaveText}}" ng-click="save()" ng-disabled="frmSales.$invalid" />
        </div>
    </div>
</form>
