<div class="ng-tree-ddl">
    <div data-angular-treeview="true"
         data-tree-id="ngTree"
         data-tree-model="Branches"
         data-node-id="ID"
         data-node-label="Name"
         data-ng-click="selectNode(ngTree.currentNode)"
         data-node-children="Children">
    </div>
</div>
