<form novalidate name="frmSizingEntry" id="SizeEntryForm" class="form-horizontal row-border">
    <input type="hidden" id="sizeMRRID" readonly="readonly" ng-model="SizeMRRID" />
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label class="col-md-4 control-label" for="input17">Set No</label>
                <div class="col-md-7">
                    <select id="ddlSetNoList" class="select2-select-00"
                            ng-model="lstSetNoList"
                            name="ddlSetNoList" data-placeholder="--Select Set No--"
                            ng-change="loadSetInfoRecords(lstSetNoList)"
                            style="width: 100%" ng-options="com.SetID as com.SetNo for com in listSetNo" required>
                        <option></option>
                        @*<option ng-repeat="com in listCompany" value="{{com.CompanyID}}">{{com.CompanyName}}</option>*@
                    </select>


                </div>
                <span class="error" ng-show="(frmSizingEntry.$dirty||submitted) && frmSizingEntry.ddlSetNoList.$error.required">*</span>
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label">Article No</label>
                <div class="col-md-7">
                    <input type="text"
                           id="txtArticleNo"
                           class="form-control"
                           name="txtArticleNo" ng-model="ArticleNo" readonly/>
                </div>
                @*<span class="error" ng-show="(frmSizingEntry.$dirty||submitted) && frmSizingEntry.txtLCNo.$error.required">*</span>*@
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label">Set Length</label>
                <div class="col-md-7">
                    <input type="text"
                           id="txtSetLength"
                           class="form-control"
                           name="txtSetLength" ng-model="SetLength" readonly />
                </div>
                @*<span class="error" ng-show="(frmSizingEntry.$dirty||submitted) && frmSizingEntry.txtSetLength.$error.required">*</span>*@
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label">Color</label>
                <div class="col-md-7">
                    <input type="text"
                           id="txtColor"
                           class="form-control"
                           name="txtColor" ng-model="ColorName" readonly />
                </div>
                @*<span class="error" ng-show="(frmSizingEntry.$dirty||submitted) && frmSizingEntry.txtColor.$error.required">*</span>*@
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label">Buyer</label>
                <div class="col-md-7">
                    <input type="text"
                           id="txtBuyer"
                           class="form-control"
                           name="txtBuyer" ng-model="BuyerName" readonly />
                </div>
                @*<span class="error" ng-show="(frmSizingEntry.$dirty||submitted) && frmSizingEntry.txtBuyer.$error.required">*</span>*@
            </div>

            <div class="form-group">
                <label class="col-md-4 control-label" for="input17">Machine</label>
                <div class="col-md-7">
                    <select id="MachineList" class="select2-select-00"
                            ng-model="MachineID"
                            ng-change="callGenerate(0)"
                            name="machineList"
                            data-placeholder="--Select Machine--"
                            style="width: 100%;"
                            ng-options="M.MachineID as M.MachineName for M in ListMachine"
                            required>
                        <option></option>
                    </select>
                </div>
                <span class="error" ng-show="(frmSizingEntry.$dirty||submitted) && frmSizingEntry.machineList.$error.required">*</span>
            </div>

        </div>

        <div class="col-md-4">
            <div class="form-group">
                <label class="col-md-4 control-label">Yarn Count</label>
                <div class="col-md-7">
                    <input type="text"
                           id="txtYarnCount"
                           class="form-control"
                           name="txtYarnCount" ng-model="YarnCount" readonly />
                </div>
                @*<span class="error" ng-show="(frmSizingEntry.$dirty||submitted) && frmSizingEntry.txtYarnCount.$error.required">*</span>*@
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label">Lot</label>
                <div class="col-md-7">
                    <input type="text"
                           id="txtLot"
                           class="form-control"
                           name="txtLot" ng-model="YarnRatioLot" readonly />
                </div>
                @*<span class="error" ng-show="(frmSizingEntry.$dirty||submitted) && frmSizingEntry.txtLot.$error.required">*</span>*@
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label">No Of Ball</label>
                <div class="col-md-7">
                    <input type="text"
                           id="txtNoOfBall"
                           class="form-control"
                           name="txtNoOfBall" ng-model="NoOfBall" readonly />
                </div>
                @*<span class="error" ng-show="(frmSizingEntry.$dirty||submitted) && frmSizingEntry.txtNoOfBall.$error.required">*</span>*@
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label">Lease Reapet</label>
                <div class="col-md-7">
                    <input type="text"
                           id="txtLeaseReapet"
                           class="form-control"
                           name="txtLeaseReapet" ng-model="LeaseReapet" readonly />
                </div>
                @*<span class="error" ng-show="(frmSizingEntry.$dirty||submitted) && frmSizingEntry.txtLeaseReapet.$error.required">*</span>*@
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label">PINO</label>
                <div class="col-md-7">
                    <input type="text"
                           id="txtPINO"
                           class="form-control"
                           name="txtPINO" ng-model="PINO" readonly />
                </div>
                @*<span class="error" ng-show="(frmSizingEntry.$dirty||submitted) && frmSizingEntry.txtPINO.$error.required">*</span>*@
            </div>

            <div class="form-group">
                <label class="col-md-4 control-label">Description</label>
                <div class="col-md-7">
                    <input type="text"
                           id="txtDescription"
                           class="form-control"
                           name="txtDescription" ng-model="Description" />
                </div>
                @*<span class="error" ng-show="(frmSizingEntry.$dirty||submitted) && frmSizingEntry.txtDescription.$error.required">*</span>*@
            </div>

        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label class="col-md-4 control-label">Total Ends</label>
                <div class="col-md-7">
                    <input type="text"
                           id="txtTotalEnds"
                           class="form-control"
                           name="txtTotalEnds" ng-model="TotalEnds" readonly />
                </div>
                @*<span class="error" ng-show="(frmSizingEntry.$dirty||submitted) && frmSizingEntry.txtTotalEnds.$error.required">*</span>*@
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label">Yarn Ratio</label>
                <div class="col-md-7">
                    <input type="text"
                           id="txtYarnRatio"
                           class="form-control"
                           name="txtYarnRatio" ng-model="YarnRatio" readonly />
                </div>
                @*<span class="error" ng-show="(frmSizingEntry.$dirty||submitted) && frmSizingEntry.txtYarnRatio.$error.required">*</span>*@
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label">Ends/Creel</label>
                <div class="col-md-7">
                    <input type="number" min="0"
                           id="txtEndsPerCreel"
                           class="form-control"
                           name="txtEndsPerCreel" ng-model="EndsPerCreel" readonly />
                </div>
                @*<span class="error" ng-show="(frmSizingEntry.$dirty||submitted) && frmSizingEntry.txtEndsPerCreel.$error.required">*</span>*@
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label">Supp. Name</label>
                <div class="col-md-7">
                    <input type="text"
                           id="txtSupplierName"
                           class="form-control"
                           name="txtSupplierName" ng-model="SupplierName" readonly />
                </div>
                @*<span class="error" ng-show="(frmSizingEntry.$dirty||submitted) && frmSizingEntry.txtSupplierName.$error.required">*</span>*@
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label">Date</label>
                <div class="col-md-7">
                    <input type="text"
                           id="dtDate"
                           class="form-control datepicker"
                           name="dtDate" ng-model="SizeMRRDate" placeholder=" dd/mm/yyyy" required />
                </div>
                <span class="error" ng-show="(frmSizingEntry.$dirty||submitted) && frmSizingEntry.dtDate.$error.required">*</span>
            </div>

        </div>
    </div>
</form>
