@*<input id="custSearch" ng-model="custSearch" type="text" class="form-control search" placeholder="Search...">*@
<table class="table table-striped table-bordered table-hover table-checkable table-tabletools datatable dataTable " >
    <thead>
        <tr>
            <th class="text-center col-md-1">SL.</th>
            <th class="text-center col-md-3">Chemical </th>
            <th class="text-center col-md-2">Quantity</th>
            <th class="text-center col-md-2">Unit</th>
            <th style="text-align:right;">Options</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="dataModel in ListChemicalSetupDetail | orderBy:'IsDeleted' " ng-show="!dataModel.IsDeleted ">
            <td class="text-center col-md-1">{{$index+1}}</td>
            <td class="text-center col-md-3">{{dataModel.ArticleNo}}</td>
            <td class="text-center col-md-2">{{dataModel.Qty}}</td>
            <td class="text-center col-md-2">{{dataModel.UnitName}}</td>
            <td style="text-align:right; color:white">
                <span class="label label-danger label-mini">
                    <a href="javascript:void(0);" class="bs-tooltip" title="Delete" ng-click="deleteDetailsList(dataModel)">
                        <i class="icon-trash"></i>
                    </a>
                </span>
            </td>
        </tr>
    </tbody>
</table>
@*| filter:custSearch*@
<p ng-show="(ListChemicalSetupDetail ).length == 0" style="color:red">Nothing found!</p>

<div class="loadmore">
    <div ng-show="loaderMore" ng-class="result">
        {{lblMessage}}
    </div>
    <div ng-show="scrollended" ng-class="result">
        {{lblMessage}}
    </div>
</div>