
<form novalidate name="frmConsumption" id="frmConsumption" class="form-horizontal row-border">
    <input type="hidden" id="compID" readonly="readonly" ng-model="ConsumptionTypeId" />

    <div class="form-group">
        <label class="col-md-3 control-label">Type Name</label>
        <div class="col-md-7">
            <input type="text"
                   id="typeName"
                   class="form-control"
                   name="typeName" ng-model="TypeName" required />
        </div>
        <span class="error" ng-show="(frmConsumption.$dirty||submitted) && frmConsumption.typeName.$error.required">*</span>
    </div>

    <div class="form-group">
        <label class="col-md-3 control-label"></label>
        <div class="col-md-7">
            <input type="button" id="reset" class="btn btn-danger" value="Reset" ng-click="clear()" ng-disabled="frmConsumption.$invalid" />
            <input type="button" id="save" class="btn btn-success" value="{{btnConsumptionSaveText}}" ng-click="save()" ng-disabled="frmConsumption.$invalid" />
        </div>
    </div>
</form>

