
<input id="consSearch" ng-model="consSearch" type="text" class="form-control search" placeholder="Search...">
<table class="table  table-hover general-table">
    <thead>
        <tr>

            <th style="display:none">ConsumptionTypeID</th>
            <th>SL.</th>
            <th>Type Name</th>           
            <th style="text-align:right;">Options</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="dataModel in Consumptions | filter:consSearch">
            <td style="display:none">{{dataModel.ConsumptionTypeID}}</td>
            <td>{{$index+1}}</td>
            <td>{{dataModel.ConsumptionTypeName}}</td>

            <td style="text-align:right; color:white">
                <span class="label label-warning label-mini">
                    <a href="javascript:void(0);" data-toggle="modal" class="bs-tooltip" title="Edit Info" ng-click="getConsumptionById(dataModel)">
                        <i class="icon-pencil"></i>

                    </a>
                </span>
                <span class="label label-danger label-mini">
                    <a href="javascript:void(0);" class="bs-tooltip" title="Delete" ng-click="delete(dataModel)">
                        <i class="icon-trash"></i>

                    </a>
                </span>
            </td>
        </tr>
    </tbody>
</table>
<p ng-show="(listCompany | filter:custSearch).length == 0" style="color:red">Nothing found!</p>

<div class="loadmore">
    <div ng-show="loaderMore" ng-class="result">
        @*<img src="~/Content/img/ng-loader.gif" />*@
        {{lblMessage}}
    </div>
    <div ng-show="scrollended" ng-class="result">
        {{lblMessage}}
    </div>
</div>
