<form novalidate name="frmChemicalPreparations" id="userForm" class="form-horizontal row-border">
    <input type="hidden" id="finChemicalStupID" readonly="readonly" ng-model="FinChemicalStupID" />    
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label class="col-md-5 control-label">Finishing Type</label>
                    <div class="col-md-6">
                        @*<p>UserType: {{finishingType}}</p>*@
                        <select id="finishingType" class="select2-select-00"
                                ng-model="FinishingProcessID"
                                name="finishingTypes"
                                data-placeholder="--Select Finishing Type--"
                                style="width: 100%" ng-options="typ.FinishingProcessID as typ.FinishingProcessName for typ in listFinishProcessType" required>
                            <option></option>
                        </select>
                    </div>
                    <span class="error" ng-show="(frmChemicalPreparations.$dirty||submitted) && frmChemicalPreparations.finishingTypes.$error.required">*</span>
                    @*<img src="~/Content/img/TickMark.png" ng-show="frmChemicalPreparation.frmChemicalPreparation.$dirty && frmChemicalPreparation.finishingType.$valid" class="iconClass" />
                    <img src="~/Content/img/Cross.png" ng-show="frmChemicalPreparation.frmChemicalPreparation.$dirty && frmChemicalPreparation.finishingType.$invalid" class="iconClass" />*@
                </div>
            </div>            
            @*<div class="clerfix" style="clear:both"></div>*@
            <div class="col-md-4">
                <div class="form-group">
                    <label class="col-md-3 control-label">Remarks</label>
                    <div class="col-md-7">
                        <input placeholder="Remarks..."
                               id="remarks"
                               class="form-control"
                               name="remarks" ng-model="Remarks">
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    <label class="col-md-3 control-label">Date</label>
                    <div class="col-md-7">
                        <input type="text"
                               id="preparationDate"
                               class="form-control datepicker"
                               name="preparationDate" ng-model="PreparationDate" placeholder="dd/mm/yyyy" />
                    </div>                    
                    @*<img src="~/Content/img/TickMark.png" ng-show="frmChemicalPreparation.preparationDate.$dirty && frmChemicalPreparation.preparationDate.$valid" class="iconClass" />
                    <img src="~/Content/img/Cross.png" ng-show="frmChemicalPreparation.preparationDate.$dirty && frmChemicalPreparation.preparationDate.$invalid" class="iconClass" />*@
                </div>
            </div>
        </div>
</form>