<table class="table  table-hover table-striped">
    <thead class="grid-top-panel">
        <tr>

            <th>SL No:</th>
            <th>Yarn Type</th>
            <th>Yarn</th>
            <th>Lot</th>
            <th>Quantity</th>

        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="dataModel in ListYarn">

            <td>{{ $index + 1 }}</td>
            <td>{{dataModel.YarnType}}</td>
            <td>{{dataModel.Yarn}}</td>

            <td> {{dataModel.Lot}} </td>

            <td> {{dataModel.Qty | Amount:2}} </td>
        </tr>
    </tbody>
</table>
<p ng-show="(ListYarn).length == 0" style="color:red">Nothing found!</p>

<div class="loadYarnmore">
    <div ng-show="loaderYarnMore" ng-class="result">
        {{lblMessage}}
    </div>
    <div ng-show="scrollended" ng-class="result">
        {{lblMessage}}
    </div>
</div>