<form novalidate name="frmOutputUnit" id="OutputUnitEntryForm" class="form-horizontal row-border">
    <input type="hidden" id="outputID" readonly="readonly" ng-model="OutputID" />
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label class="col-md-3 control-label" for="input17">Output Name</label>
                <div class="col-md-7">
                    <select id="ddlOutputUnit" class="select2-select-00"
                            ng-model="lstOutputUnitList"
                            name="ddlOutputUnit"
                            data-placeholder="--Select Output--"
                            style="width: 100%" ng-options="sgt.OrganogramID as sgt.ProcessOutput for sgt in listOutputUnit" required>
                        <option></option>
                    </select>
                </div>
                <span class="error" ng-show="(frmOutputUnit.$dirty||submitted) && frmOutputUnit.ddlOutputUnit.$error.required">*</span>
            </div>

            <div class="form-group">
                <label class="col-md-3 control-label">Output Unit No</label>
                <div class="col-md-7">
                    <input type="text"
                           id="txtOutputNo"
                           class="form-control"
                           name="txtOutputNo" ng-model="OutputNo" />
                </div>
                <img ng-src="~/Content/img/Copy.png" ng-click="copyvalue()" />
            </div>
        </div>

        <div class="col-md-6">
            <div class="form-group">
                <label class="col-md-4 control-label">Description</label>
                <div class="col-md-7">
                    <input type="text"
                           id="txtDescription"
                           class="form-control"
                           name="txtDescription" ng-model="Description" />
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-4 control-label">Output Unit Name</label>
                <div class="col-md-7">
                    <input type="text"
                           id="txtOutputName"
                           class="form-control"
                           name="txtOutputName" ng-model="OutputName" />
                </div>
            </div>
        </div>
    </div>
</form>
