
<form novalidate name="itemGroupForm" id="itemGroupForm" class="form-horizontal row-border">
    @*<input type="hidden" id="itemGroupID" readonly="readonly" ng-model="ItemGroupID" />*@

    <div class="form-group">
        <label class="col-md-4 control-label" for="input17">Company</label>
        <div class="col-md-6">
            <select id="CompanyList" class="select2-select-00"
                    ng-model="lstCompanyList"
                    name="CompanyList" data-placeholder="--Select Company--"
                    style="width: 230px" ng-options="com.CompanyID as com.CompanyName for com in listCompany" required>
                <option></option>
            </select>        
            <span class="error" ng-show="(frmLC.$dirty||submitted) && frmLC.CompanyList.$error.required">*</span>    
        </div>        
    </div>

    @*<div class="form-group">
        <label class="col-md-4 control-label"> Group Name:</label>
        <div class="col-md-6">
            <input type="text"
                   id="modgroupName"
                   class="form-control"
                   name="modgroupName" ng-model="ModGroupName" required />
        </div>
        <span class="error" ng-show="(itemGroupForm.$dirty||submitted) && itemGroupForm.modgroupName.$error.required">*</span>
    </div>
    <div class="form-group">
        <label class="col-md-4 control-label"> Parent:</label>
        <div class="col-md-6">
            <select id="ddlItemParent" class="select2-select-00" style="width:230px;"
                    ng-model="ddlItemGroup"
                    name="ddlItemGroup"
                    ng-options="olet.ItemGroupID as olet.ItemGroupName for olet in itemGroupes">
                <option>--Select---</option>
            </select>
        </div>

    </div>
    <div class="form-group">
        <label class="col-md-4 control-label" for="input17"></label>
        <div class="col-md-6">
            <label class="checkbox-inline">
                <input type="checkbox" id="isActive" name="isActive" ng-model="IsActive" /> IsActive
            </label>
        </div>

    </div>*@

    <div class="form-group">
        <label class="col-md-4 control-label"></label>
        <div class="col-md-6">
            <input type="button" id="reset" class="btn btn-danger" value="Reset" ng-click="clear()" ng-disabled="itemGroupForm.$invalid" />
            <input type="button" id="save" class="btn btn-success" value="{{btnSaveUpdateText}}" ng-click="save()" ng-disabled="itemGroupForm.$invalid" />
        </div>
    </div>
</form>
