
<form novalidate name="frmUserType" id="userForm" class="form-horizontal row-border">
    <input type="hidden" id="userTypeID" readonly="readonly" ng-model="UserTypeID" />

    <div class="form-group">
        <label class="col-md-3 control-label">Type Name</label>
        <div class="col-md-7">
            <input type="text"
                   id="userTypeName"
                   class="form-control"
                   name="userTypeName" ng-model="UserTypeName" required />
        </div>
        @*<span class="error" ng-show="(frmUserType.$dirty||submitted) && frmUserType.userTypeName.$error.required">*</span>*@

        <img src="~/Content/img/TickMark.png" ng-show="frmUserType.userTypeName.$dirty && frmUserType.userTypeName.$valid" Class="iconClass" />
        <img src="~/Content/img/Cross.png" ng-show="frmUserType.userTypeName.$dirty && frmUserType.userTypeName.$invalid" Class="iconClass" />
    </div>

    <div class="form-group">
        <label class="col-md-3 control-label"></label>
        <div class="col-md-7">
            <input type="button" id="reset" class="btn btn-danger" value="Reset" ng-click="clear()" ng-disabled="frmUserType.$invalid" />
            <input type="button" id="save" class="btn btn-success" value="Save" ng-click="save()" ng-disabled="frmUserType.$invalid" />
        </div>
    </div>
</form>
