<form novalidate name="frmBWS" id="bWSEntryForm" class="form-horizontal row-border">
    <input type="hidden" id="bWSID" readonly="readonly" ng-model="BWSID" />
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label class="col-md-3 control-label">Department</label>
                <div class="col-md-7">
                    <select id="DeptList" class="select2-select-00"
                            ng-model="lstDeptList"
                            name="deptList"
                            data-placeholder="--Select Department--"
                            style="width: 100%"
                            ng-options="Dept.OrganogramID as Dept.OrganogramName for Dept in listDept" required>
                        <option></option>
                    </select>
                </div>
                <span class="error" ng-show="(frmBWS.$dirty||submitted) && frmBWS.deptList.$error.required">*</span>
            </div>

            <div class="form-group">
                <label class="col-md-3 control-label" for="input17">Config. Type</label>
                <div class="col-md-7">
                    <select id="ddlBWSType" class="select2-select-00"
                            ng-model="lstBWSTypeList"
                            name="ddlBWSType"
                            data-placeholder="--Select Type--"
                            style="width: 100%" ng-options="sgt.ComboID as sgt.ComboName for sgt in listBWSType" required>
                        <option></option>
                    </select>
                </div>
                <span class="error" ng-show="(frmBWS.$dirty||submitted) && frmBWS.ddlBWSType.$error.required">*</span>
            </div>

        </div> 
               
        <div class="col-md-6">
            <div class="form-group">
                <label class="col-md-3 control-label">Name</label>
                <div class="col-md-7">
                    <input type="text"
                           id="txtBWSName"
                           class="form-control"
                           name="txtBWSName" ng-model="BWSName" required/>
                </div>
                <span class="error" ng-show="(frmBWS.$dirty||submitted) && frmBWS.txtBWSName.$error.required">*</span>
            </div>

            <div class="form-group">
                <label class="col-md-3 control-label">Description</label>
                <div class="col-md-7">
                    <input type="text"
                           id="txtDescription"
                           class="form-control"
                           name="txtDescription" ng-model="Description" />
                </div>
            </div>
        </div>        
    </div>
</form>
