@*<input id="sizeDetailSearch" ng-model="SizeDetailSearch" type="text" class="form-control search" placeholder="Search...">*@

<table class="table  table-hover general-table right-bottom-scroll-m">
    <thead class="grid-top-panel">
        <tr>
            <th>Item</th>            
            <th>Remarks</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="dataModel in ListDFSMachineConfigDetails">
            <td>
                <div style="width:100px">
                    <select id="ddlItem"
                            ng-model="dataModel.MachineID"
                            name="ddlItem"
                            style="width: 100%"
                            ng-options="S.ItemID as S.ItemName for S in Machines">
                        <option></option>
                    </select>
                </div>
            </td>
            <td>
                <input type="text" id="Description" name="Description" class="form-control" ng-model="dataModel.Description" />
            </td>
            <td style="text-align:right; color:white" @*ng-show="IsbtnAddDelShow"*@>
                <span class="label label-danger label-mini">
                    <a href="javascript:void(0);" data-toggle="modal" class="bs-tooltip" title="Delete">
                        <i class="icon-trash" ng-click="deleteRow($index)"></i>
                    </a>
                </span>
            </td>
        </tr>
    </tbody>
</table>