<form novalidate name="frmIssue" id="Issue" class="form-horizontal row-border">

    <input type="hidden" id="IssueID" readonly="readonly" ng-model="IssueId"/> 
    <input type="hidden" id="menuID" readonly="readonly" ng-model="MenuID" />

    <div class="row">
            <div class="col-md-4">
            <div class="form-group">
                <label class="col-md-4 control-label">{{LabelIssueText}}</label>              
                <div class="col-md-7">
                    <input type="text"
                           id="txtIssueNo"
                           class="form-control"
                           name="txtIssueNo" ng-model="IssueNo" readonly />
                </div>
            </div>          
          

                <div ng-hide="divReqNo" class="form-group">
                    <label class="col-md-4 control-label" for="input17">Req No</label>
                    <div class="col-md-7">
                        <select id="ddlRequisitionNo" class="select2-select-00"
                                ng-model="RequistionNo"
                                name="ddlRequisitionNo"
                                data-placeholder="--Select Req No--"
                                ng-change="GetRequisitionItemList()"
                                style="width: 100%" ng-options="requisition.RequisitionID as requisition.RequisitionNo for requisition in lstRequisition" ng-required={{IsRequired}}>
                            <option></option>
                        </select>
                    </div>
                    <span class="error" ng-show="(frmIssue.$dirty||submitted) && frmIssue.ddlRequisitionNo.$error.required">*</span>
                </div>

                @*<div ng-hide="divToDept" class="form-group">
                    <label class="col-md-4 control-label" for="input17">{{labelToDept}}</label>

                    <div class="col-md-7">

                        <select id="ddlParentDept" class="select2-select-00"
                                ng-model="ParentDept"
                                name="ddlParentDept"
                                data-placeholder="--Select Department--"
                                style="width: 100%" ng-options="dept.OrganogramID as dept.OrganogramName for dept in listOrganogramsDepartment" ng-required={{IsRequired}}>
                            <option></option>
                        </select>

                    </div>
                    <span class="error" ng-show="(frmIssue.$dirty||submitted) && frmIssue.ddlParentDept.$error.required">*</span>
                </div>*@

                @*<div ng-hide="divFromDept" class="form-group">
                    <label class="col-md-4 control-label" for="input17"> {{LabelFromDept}}</label>
                    <div class="col-md-7">

                        <select id="ddlParentDept" class="select2-select-00"
                                ng-model="ParentDept"
                                name="ddlParentDept"
                                data-placeholder="--Select Department--"
                                style="width: 100%" ng-options="dept.OrganogramID as dept.OrganogramName for dept in listOrganogramsDepartment" ng-required={{IsRequired}}>
                            <option></option>
                        </select>

                    </div>
                    <span class="error" ng-show="(frmIssue.$dirty||submitted) && frmIssue.ddlParentDept.$error.required">*</span>
                </div>*@
          
            @*<div ng-hide="divToCompany" class="form-group">
                    <label class="col-md-4 control-label" for="input17"> To Company</label>
                    <div class="col-md-7">
                        <select id="ddlCompany" class="select2-select-00"
                                ng-model="Company"
                                name="ddlCompany"
                                data-placeholder="--Select Company--"
                                style="width: 100%" ng-options="com.CompanyID as com.CompanyName for com in ListCompany" ng-required={{IsRequired}}>
                            <option></option>
                        </select>
                    </div>
                    <span class="error" ng-show="(frmIssue.$dirty||submitted) && frmIssue.ddlCompany.$error.required">*</span>
                </div>*@        
                
                <div ng-hide="divMRR" class="form-group">
                    <label class="col-md-4 control-label" for="input17"> MRR No</label>
                    <div class="col-md-7">
                        <select id="ddlMRR" ng-change="GetRequisitionItemList()" class="select2-select-00"
                                ng-model="MRR"
                                name="ddlMRR"
                                data-placeholder="--Select MRR No--"
                                style="width: 100%" ng-options="Mrr.MrrID as Mrr.MrrNo for Mrr in lstMRR" ng-required={{IsRequired}}>
                            <option></option>
                        </select>
                    </div>
                    <span class="error" ng-show="(frmIssue.$dirty||submitted) && frmIssue.ddlMRR.$error.required">*</span>
                </div>   
                
                <div ng-hide="divChallan" class="form-group">
                    <label class="col-md-4 control-label" for="input17"> Challan No</label>
                    <div class="col-md-7">
                        <select id="ddlChallan"  class="select2-select-00"
                                ng-model="Challan"
                                name="ddlChallan"
                                data-placeholder="--Select Challan No--"
                                style="width: 100%" ng-options="Challan.CHID as Challan.CHNo for Challan in lstChallan" ng-required={{IsRequired}}>
                            <option></option>
                        </select>
                    </div>
                    <span class="error" ng-show="(frmIssue.$dirty||submitted) && frmIssue.ddlChallan.$error.required">*</span>
                </div>          
          
        </div>

            <div class="col-md-4">

            <div class="form-group">
                    <label  class="col-md-4 control-label" for="input17">{{LabelIssueby}}</label>                  
                    <div class="col-md-7">

                        <select id="ddlIssueBy" class="select2-select-00"
                                ng-model="IssueBy"
                                name="ddlIssueBy"
                                data-placeholder="--Select Person--" disabled
                                style="width: 100%" ng-options="user.UserID as user.UserFullName for user in UserLst" required>
                            <option></option>
                        </select>

                    </div>
                    <span class="error" ng-show="(frmIssue.$dirty||submitted) && frmIssue.ddlIssueBy.$error.required">*</span>
                </div>     
                
                <div ng-hide="divToDept" class="form-group">
                    <label class="col-md-4 control-label" for="input17">{{labelToDept}}</label>

                    <div class="col-md-7">

                        <select id="ddlParentDept" class="select2-select-00"
                                ng-model="ParentDept"
                                name="ddlParentDept"
                                data-placeholder="--Select Department--" 
                                style="width: 100%" ng-options="dept.OrganogramID as dept.OrganogramName for dept in listOrganogramsDepartment" ng-required={{IsRequired}}>
                            <option></option>
                        </select>

                    </div>
                    <span class="error" ng-show="(frmIssue.$dirty||submitted) && frmIssue.ddlParentDept.$error.required">*</span>
                </div>
                                 
            @*<div ng-hide="divReqNo" class="form-group">
                    <label class="col-md-4 control-label" for="input17">Req No</label>
                    <div class="col-md-7">
                        <select id="ddlRequisitionNo" class="select2-select-00"
                                ng-model="RequistionNo"
                                name="ddlRequisitionNo"
                                data-placeholder="--Select Req No--"
                                ng-change="GetRequisitionItemList()"
                                style="width: 100%" ng-options="requisition.RequisitionID as requisition.RequisitionNo for requisition in lstRequisition" ng-required={{IsRequired}}>
                            <option></option>
                        </select>
                    </div>
                    <span class="error" ng-show="(frmIssue.$dirty||submitted) && frmIssue.ddlRequisitionNo.$error.required">*</span>
                </div>*@

            <div ng-hide="divGRR" class="form-group">
                    <label class="col-md-4 control-label" for="input17">GRR No</label>
                    <div class="col-md-7">
                        <select id="ddlGRR" class="select2-select-00"
                                ng-model="GRR"
                                name="ddlGRR"
                                data-placeholder="--Select GRR No--"
                                
                                style="width: 100%" ng-options="Grr.GrrID as Grr.GrrNo for Grr in lstGRR" ng-required={{IsRequired}}>
                            <option></option>
                        </select>
                    </div>
                    <span class="error" ng-show="(frmIssue.$dirty||submitted) && frmIssue.ddlGRR.$error.required">*</span>
                </div>

            <div ng-hide="divRemarksSecondary" class="form-group">
                    <label class="col-md-4 control-label">Remarks</label>
                    <div class="col-md-7">
                        <textarea rows="3" cols="3"
                                  id="txtPurpose"
                                  class="form-control"
                                  name="txtPurpose" ng-model="Purpose"></textarea>
                    </div>
                </div>

        </div>

            <div class="col-md-4">

            <div class="form-group">
                    <label class="col-md-4 control-label">{{LabelIssuedate}}</label>                  
                    <div class="col-md-7">
                        <input type="text"
                               id="dtIssueDate"
                               class="form-control datepicker"
                               name="dtIssueDate" ng-model="IssueDate" placeholder="dd-MM-yyyy" required />
                    </div>
                    <span class="error" ng-show="(frmIssue.$dirty||submitted) && frmIssue.dtIssueDate.$error.required">*</span>
                </div>
              
            @*<div ng-hide="divRemarksPrimary" class="form-group" >
                    <label class="col-md-4 control-label">Remarks</label>
                    <div class="col-md-7">
                        <textarea rows="3" cols="3"
                                  id="txtPurpose"
                                  class="form-control"
                                  name="txtPurpose" ng-model="Purpose"></textarea>
                    </div>
                </div>*@
            
            </div>
    </div>
   
    <div class="row" ng-hide="divRemarksPrimary">
        <div class="col-md-12">
            <div class="form-group">
                <label class="col-md-1 control-label" style="width:11%;">Remarks </label>
                <div class="col-md-10">
                    <textarea rows="2" cols="3"
                              id="txtPurpose"
                              class="form-control"
                              name="txtPurpose" ng-model="Purpose" style="width:103.5%;"></textarea>
                </div>
            </div>
        </div>
    </div>
  
    <div class="row" ng-show="ShowItemModal">
        <div class="col-md-4">
            <div class="form-group">
                <label class="col-md-4 control-label">Item Code</label>
                <div class="col-md-7">
                    <input type="text"
                           id="txtItemCode"
                           class="form-control"
                           name="txtItemCode" ng-model="ItemCode" ng-blur="getItmDetailsByItmCode()" />

                    <div class="loadmore_ddl">
                        <div ng-show="loaderMoreForSampleNo" ng-class="result">
                            <img src="~/Content/img/ng-loader.gif" />
                            {{lblMessageForSampleNo}}
                        </div>
                    </div>
                </div>
                <span class="label label-success label-mini">
                    <a href="javascript:void(0);" ng-href="#HDOMasterModal" data-toggle="modal" class="bs-tooltip" title="Search Item">
                        <i class="icon-search"></i>
                    </a>
                </span>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">

                <span>
                    <input type="button" id="Add" class="btn btn-info margin-right-btn" value="Add" ng-click="AddItem()" />
                </span>
            </div>
        </div>
    </div>

    </form>
