

<table class="table  table-hover general-table">
    <thead class="grid-top-panel">
        <tr>
            <th style="display:none">ItemID</th>
            <td style="display:none">UnitID</td>
            <th>SL No:</th>
            <th>Item Name</th>
            <th>Unit Name</th>
            <th>Lot No</th>
            <th>Batch</th>
            <th ng-hide="IsHide">Req Qty</th>
            <th ng-hide="IsHide">Issued Qty</th>
            <th ng-hide="IsHide">Pending Qty</th>
            <th ng-hide="IsHide">Unit Price</th>
            <th>Issue Qty</th>
            <th ng-hide="IsHide">Amount</th>
            <th style="text-align:right">Delete</th>
        </tr>
    </thead>
        <tbody>
            <tr ng-repeat="dataModel in ListRequisitionItems">
                <td style="display:none">{{dataModel.ItemID}}</td>
                <td style="display:none">{{dataModel.UnitID}}</td>
                <td style="display:none">{{dataModel.LotID}}</td>
                <td style="display:none">{{dataModel.BatchID}}</td>
                <td>{{ $index + 1 }}</td>
                <td>{{dataModel.ItemName}}</td>
                <td>{{dataModel.UOMName}}</td>
                <td ng-hide="Hide">{{dataModel.LotNo}}</td>
                <td ng-hide="Hide">{{dataModel.BatchNo}}</td>
                <td ng-hide="IsHide">
                    <select id="ddlLotNo"
                            ng-model="dataModel.LotID"
                            name="ddlLotNo"
                            style="width: 100%"
                            ng-options="lot.LotID as lot.LotNo for lot in listLot">
                        <option></option>
                    </select>
                </td>
                <td ng-hide="IsHide">
                    <select id="ddlBatch"
                            ng-model="dataModel.BatchID"
                            name="ddlBatch"
                            style="width: 100%" ng-options="batch.BatchID as batch.BatchNo for batch in lstBatchList">
                        <option></option>
                    </select>
                </td>
                <td ng-hide="IsHide">{{dataModel.RequisitionQty}}</td>
                <td ng-hide="IsHide">{{dataModel.IssuedQty}}</td>
                <td ng-hide="IsHide">{{dataModel.PendingIssueQty}}</td>
                <td ng-hide="IsHide">{{dataModel.UnitPrice}}</td>
                <td><input type="number" id="txtIssueQty" min="0"  style="width:150px" name="txtIssueQty" ng-blur="GetIssueAmount(dataModel)" class="form-control" ng-model="dataModel.IssueQty" /></td>
                <td ng-hide="IsHide">{{dataModel.Amount|number:2}}</td>
                <td style="text-align:right; color:white">
                    <span class="label label-danger label-mini">
                        <a href="javascript:void(0);" data-toggle="modal" class="bs-tooltip" title="Select">
                            <i class="icon-trash" ng-click="deleteRow($index)"></i>
                        </a>
                    </span>
                </td>
            </tr>
        </tbody>
    </table>
    <p ng-show="(ListRequisitionItems).length == 0" style="color:red">Nothing found!</p>

    <div class="loadmore">
        <div ng-show="loaderMore" ng-class="result">
            {{lblMessage}}
        </div>
        <div ng-show="scrollended" ng-class="result">
            {{lblMessage}}
        </div>
    </div>