<form novalidate name="frmWashing" id="frmWashing" class="form-horizontal row-border">
    <input type="hidden" id="ItemID" readonly="readonly" ng-model="ItemID" />

    <div class="col-md-4">

        <div class="form-group">
            <label class="col-md-4 control-label">L Shrinkage min:</label>
            <div class="col-md-7">
                <input type="text"
                       style="width: 100%"
                       id="txtbxWashingLengthShrinkageMin"
                       class="form-control"
                       name="txtbxWashingLengthShrinkageMin" ng-model="txtbxWashingLengthShrinkageMin"
                       placeholder="Length Shrinkage min" />
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-4 control-label" for="input17">W Shrinkage Max:</label>
            <div class="col-md-7">
                <input type="text"
                       style="width: 100%"
                       id="txtbxWashingWidthShrinkageMax"
                       class="form-control"
                       name="txtbxWashingWidthShrinkageMax" ng-model="txtbxWashingWidthShrinkageMax"
                       placeholder="Width Shrinkage Max" />
            </div>
            @*<span class="error" ng-show="(frmWashing.$dirty||submitted) && frmWashing.txtArticaleNo.$error.required">*</span>*@
        </div>
        <div class="form-group">
            <label class="col-md-4 control-label" for="input17">Washing PPI:</label>
            <div class="col-md-7">
                <input type="text"
                       style="width: 100%"
                       id="txtbxWashingPPI"
                       class="form-control"
                       name="txtbxWashingPPI" ng-model="txtbxWashingPPI"
                       placeholder="Washing PPI" />
            </div>
            @*<span class="error" ng-show="(frmWashing.$dirty||submitted) && frmWashing.txtArticaleNo.$error.required">*</span>*@
        </div>


    </div>
    <div class="col-md-4">


        <div class="form-group">
            <label class="col-md-4 control-label" for="input17">L Shrinkage Max:</label>
            <div class="col-md-7">
                <input type="text"
                       style="width: 100%"
                       id="txtbxWashingLengthShrinkageMax"
                       class="form-control"
                       name="txtbxWashingLengthShrinkageMax" ng-model="txtbxWashingLengthShrinkageMax"
                       placeholder="Length Shrinkage max" />
            </div>
            @*<span class="error" ng-show="(frmWashing.$dirty||submitted) && frmWashing.txtArticaleNo.$error.required">*</span>*@
        </div>

        <div class="form-group">
            <label class="col-md-4 control-label" for="input17">Skew(%):</label>
            <div class="col-md-7">
                <input type="text"
                       style="width: 100%"
                       id="txtbxWashingSkew"
                       class="form-control"
                       name="txtbxWashingSkew" ng-model="txtbxWashingSkew"
                       placeholder="Skew(%)" />
            </div>
            @*<span class="error" ng-show="(frmWashing.$dirty||submitted) && frmWashing.txtArticaleNo.$error.required">*</span>*@
        </div>
        <div class="form-group">
            <label class="col-md-4 control-label" for="input17">AW Width</label>
            <div class="col-md-7">
                <input type="text"
                       style="width: 100%"
                       id="txtbxAwWidth"
                       class="form-control"
                       name="txtbxAwWidth" ng-model="txtbxAwWidth"
                       placeholder="AW Width" />
            </div>
            @*<span class="error" ng-show="(frmWashing.$dirty||submitted) && frmWashing.txtArticaleNo.$error.required">*</span>*@
        </div>


    </div>
    <div class="col-md-4">
        <div class="form-group">
            <label class="col-md-4 control-label" for="input17">W Shrinkage Min:</label>
            <div class="col-md-7">
                <input type="text"
                       style="width: 100%"
                       id="txtbxWashingWidthShrinkageMin"
                       class="form-control"
                       name="txtbxWashingWidthShrinkageMin" ng-model="txtbxWashingWidthShrinkageMin"
                       placeholder="Width Shrinkage min" />
            </div>
            @*<span class="error" ng-show="(frmWashing.$dirty||submitted) && frmWashing.txtArticaleNo.$error.required">*</span>*@
        </div>

        <div class="form-group">
            <label class="col-md-4 control-label" for="input17">Washing EPI:</label>
            <div class="col-md-7">
                <input type="text"
                       style="width: 100%"
                       id="txtbxWashingEPI"
                       class="form-control"
                       name="txtbxWashingEPI" ng-model="txtbxWashingEPI"
                       placeholder="Washing EPI" />
            </div>
            @*<span class="error" ng-show="(frmWashing.$dirty||submitted) && frmWashing.txtArticaleNo.$error.required">*</span>*@
        </div>
        <div class="form-group">
            <label class="col-md-4 control-label" for="input17">AW Weight:</label>
            <div class="col-md-7">
                <input type="text"
                       style="width: 100%"
                       id="txtbxAwWeight"
                       class="form-control"
                       name="txtbxAwWeight" ng-model="txtbxAwWeight"
                       placeholder="AW Weight" />
            </div>
            @*<span class="error" ng-show="(frmWashing.$dirty||submitted) && frmWashing.txtArticaleNo.$error.required">*</span>*@
        </div>




    </div>

    <div class="clearfix"></div>
</form>






