


<form novalidate name="frmCompustion" id="frmCompustion" class="form-horizontal row-border">
    <input type="hidden" id="ItemID" readonly="readonly" ng-model="ItemID" />

    <div class="col-md-4">
        <div class="form-group">
            <label class="col-md-4 control-label" for="input17">Cotton %:</label>
            <div class="col-md-7">
                <input type="number"
                       style="width: 100%"
                       id="txtbxFinishingCotton"
                       class="form-control"
                       name="txtbxFinishingCotton" ng-model="txtbxFinishingCotton"
                       placeholder="Cotton(%)" />
            </div>

        </div>
       
        <div class="form-group">
            <label class="col-md-4 control-label" for="input17">Other:</label>
            <div class="col-md-7">
                <input type="text"
                       style="width: 100%"
                       id="txtCopusitonOther"
                       class="form-control"
                       name="txtCopusitonOther" ng-model="txtCopusitonOther"
                       placeholder="Other" />
            </div>

        </div>
        <div class="form-group">
            <label class="col-md-4 control-label" for="input17">Viscos %:</label>
            <div class="col-md-7">
                <input type="number"
                       style="width: 100%"
                       id="txtbxViscos"
                       class="form-control"
                       name="txtbxViscos" ng-model="txtbxViscos"
                       placeholder="Viscos(%)" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-4 control-label" for="input17">C4100 %:</label>
            <div class="col-md-7">
                <input type="number"
                       style="width: 100%"
                       id="txtbxC4100"
                       class="form-control"
                       name="txtbxC4100" ng-model="txtbxC4100"
                       placeholder="C4100(%)" />
            </div>
        </div>
    </div>
    <div class="col-md-4">

        <div class="form-group">
            <label class="col-md-4 control-label" for="input17">Polystar:</label>
            <div class="col-md-7">
                <input type="number"
                       style="width: 100%"
                       id="txtbxFinishingPolystar"
                       class="form-control"
                       name="txtbxFinishingPolystar" ng-model="txtbxFinishingPolystar"
                       placeholder="Polystar" />
            </div>

        </div>

        <div class="form-group">
            <label class="col-md-4 control-label" for="input17">Spandex %:</label>
            <div class="col-md-7">
                <input type="number"
                       style="width: 100%"
                       id="txtbxFinishingSpandex"
                       class="form-control"
                       name="txtbxFinishingSpandex" ng-model="txtbxFinishingSpandex"
                       placeholder="Spandex(%)" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-4 control-label" for="input17">Modal %</label>
            <div class="col-md-7">
                <input type="number"
                       style="width: 100%"
                       id="txtbxModal"
                       class="form-control"
                       name="txtbxModal" ng-model="txtbxModal"
                       placeholder="Modal(%)" />
            </div>
        </div>

    </div>
    <div class="col-md-4">


        <div class="form-group">
            <label class="col-md-4 control-label" for="input17">Laycra %:</label>
            <div class="col-md-7">
                <input type="number"
                       style="width: 100%"
                       id="txtbxFinishingLaycra"
                       class="form-control"
                       name="txtbxFinishingLaycra" ng-model="txtbxFinishingLaycra"
                       placeholder="Laycra(%)" />
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-4 control-label" for="input17">T4100 %:</label>
            <div class="col-md-7">
                <input type="number"
                       style="width: 100%"
                       id="txtbxT4100"
                       class="form-control"
                       name="txtbxT4100" ng-model="txtbxT4100"
                       placeholder="T4100(%)" />
            </div>

        </div>
        <div class="form-group">
            <label class="col-md-4 control-label" for="input17">Tencel:</label>
            <div class="col-md-7">
                <input type="number"
                       style="width: 100%"
                       id="txtbxTencel"
                       class="form-control"
                       name="txtbxTencel" ng-model="txtbxTencel"
                       placeholder="Tencel(%)" />
            </div>

        </div>


    </div>

    <div class="clearfix"></div>
</form>





