
<table class="table  table-hover table-striped" style="display: block; overflow-x: auto;">
    <thead class="grid-top-panel">
        <tr>
            <th style="display:none">MrrID</th>
            <th style="display:none">MrrDetailID</th>

            <th style="display:none">MrrQcID</th>
            <td style="display:none">MrrQcDetailID</td>
            <th style="display:none">GrrID</th>
            <th style="display:none">GrrDetailID</th>
             
            <th style="display:none">ItemID</th>
            <th style="display:none">LotID</th>
            <th style="display:none">BatchID</th>
            <th style="display:none">UnitID</th>
            <th>SL No:</th>
            <th>Item Code</th>


            <th>Particular Of Item</th>

            <th>Batch No</th>
            @*<th></th>*@
            <th>Lot No</th>
            @*<th></th>*@
            <th>Unit Name</th>
            

            @*<th ng-show="IsMrr">GRR Quantity</th>

            <th ng-show="IsMrr">QC Quantity</th>

            <th ng-show="IsMrr">MRR Quantity</th>*@

            <th ng-show="CommonFLoanReceiveNMrr">GRR Quantity</th>

            <th ng-show="CommonFLoanReceiveNMrr">QC Quantity</th>

            <th ng-show="CommonFLoanReceiveNMrr">MRR Quantity</th>

            <th ng-show="CommonFIssueNReturnReceive">Receive Quantity</th>

            @*<th ng-show="IsMrrAccountsDept" style="width :200px;" >Price</th>

            
            <th ng-show="IsMrrAccountsDept" style="width :200px;">Amount</th>*@

            <th ng-show="false" style="width :200px;">Price</th>


            <th ng-show="false" style="width :200px;">Amount</th>

 
           
            @*<th ng-show="IsCommonMrrAccountsDept">Available Quantity</th>*@
            <th ng-show="false">Available Quantity</th>

            <th style="display:none">MrrValidQty</th>
            

            @*<th ng-show="IsMrr">GRR Additional Quantity</th>
            <th ng-show="IsMrr">QC Additional Quantity</th>*@


            <th ng-show="CommonFLoanReceiveNMrr">GRR Additional Quantity</th>
            <th ng-show="CommonFLoanReceiveNMrr">QC Additional Quantity</th>


            @*<th ng-show="IsCommonMrrAccountsDept">Available Additonal Quantity</th>*@

            <th ng-show="false">Available Additonal Quantity</th>

            <th style="display:none">MrrValidAdditonalQty</th>
            @*<th ng-show="IsMrr">Additional Quantity</th>*@

            <th ng-show="CommonFLoanReceiveNMrr">Additional Quantity</th>




            <th>Current Stock</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="dataModel in ListMrrDetails">
            <td style="display:none">{{dataModel.MrrID}}</td>
            <td style="display:none">{{dataModel.MrrDetailID}}</td>

            <td style="display:none">{{dataModel.MrrQcID}}</td>
            <td style="display:none">{{dataModel.MrrQcDetailID}}</td>
            <td style="display:none">{{dataModel.GrrID}}</td>
            <td style="display:none">{{dataModel.GrrDetailID}}</td>
            <td style="display:none">{{dataModel.ItemID}}</td>
            <td style="display:none">{{dataModel.LotID}}</td>
            <td style="display:none">{{dataModel.BatchID}}</td>
            <td style="display:none">{{dataModel.UnitID}}</td>


            <td>{{ $index + 1 }}</td>
            <td>{{dataModel.ItemCode}}</td>
            <td>{{dataModel.ItemName}}</td>

            <td>
                {{dataModel.BatchNo}}

                @*<select id="ddlMrrBatch"
                            ng-model="dataModel.BatchID"
                            name="ddlMrrBatch"
                            ng-options="wu.BatchID as wu.BatchNo for wu in listMrrBatchNo">
                        <option>-- Select Batch No --</option>
                    </select>*@

            </td>
            @*<td>

                    <span class="label label-success label-mini">
                        <a href="javascript:void(0);" ng-href="#BatchSetupModal" data-toggle="modal" class="bs-tooltip" title="Batch Detail">
                            <i class="icon-search" ng-click="LoadBatchModal(dataModel)"></i>
                        </a>
                    </span>

                </td>*@
            <td>
                {{dataModel.LotNo}}

                @*<select id="ddlMrrLot"
                            ng-model="dataModel.LotID"
                            name="ddlMrrLot"
                            ng-options="lt.LotID as lt.LotNo for lt in listMrrLot">
                        <option>-- Select Lot No --</option>
                    </select>*@
            </td>
            @*<td>
                    <span class="label label-success label-mini">
                        <a href="javascript:void(0);" ng-href="#LotSetupModal" data-toggle="modal" class="bs-tooltip" title="Lot Detail">
                            <i class="icon-search" ng-click="LoadLotModal(dataModel)"></i>
                        </a>
                    </span>
                </td>*@

            <td>{{dataModel.UOMName}}</td>
          
            @*<td ng-show="IsMrr">{{dataModel.GrrQty| number:2}}</td>
            <td ng-show="IsMrr">{{dataModel.QCQty| number:2}}</td>*@

            <td ng-show="CommonFLoanReceiveNMrr">{{dataModel.GrrQty| number:2}}</td>
            <td ng-show="CommonFLoanReceiveNMrr">{{dataModel.QCQty| number:2}}</td>


            <td>{{dataModel.Qty| number:2}}</td>

            <td ng-show="false">{{dataModel.UnitPrice| number:2}}</td>

            @*<td ng-show="IsMrrAccountsDept" style="width :200px;"><input type="number" min="0.00" id="txtUnitPrice" name="txtUnitPrice" class="form-control" ng-model="dataModel.UnitPrice" placeholder="Decimal" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.01" onchange="(function(el){el.value=parseFloat(el.value).toFixed(2);})(this)" ng-blur="calculationAccountsUPrice(dataModel)" /></td>*@

            <td ng-show="false" style="width :200px;"><input type="number" min="0.00" id="txtUnitPrice" name="txtUnitPrice" class="form-control" ng-model="dataModel.UnitPrice" placeholder="Decimal" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.01" onchange="(function(el){el.value=parseFloat(el.value).toFixed(2);})(this)" ng-blur="calculationAccountsUPrice(dataModel)" /></td>

            
            <td ng-show="false">{{dataModel.Amount| number:2}}</td>
           
            @*<td ng-show="IsMrrAccountsDept" style="width :200px;"> <input type="number" min="0.00" id="txtAmount" name="txtAmount" class="form-control" ng-model="dataModel.Amount" placeholder="Decimal" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.01" onchange="(function(el){el.value=parseFloat(el.value).toFixed(2);})(this)" ng-blur="calculationAccountsAmount(dataModel)" /></td>*@

            <td ng-show="false" style="width :200px;"> <input type="number" min="0.00" id="txtAmount" name="txtAmount" class="form-control" ng-model="dataModel.Amount" placeholder="Decimal" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.01" onchange="(function(el){el.value=parseFloat(el.value).toFixed(2);})(this)" ng-blur="calculationAccountsAmount(dataModel)" /></td>
            

            @*<td ng-show="IsCommonMrrAccountsDept">{{dataModel.AvailableQty| number:2}}</td>*@

            <td ng-show="false">{{dataModel.AvailableQty| number:2}}</td>

            <td style="display:none">{{dataModel.MrrValidQty| number:2}}</td>

            @*<td ng-show="CommonFIssueNReturnReceive">{{dataModel.Qty| number:2}}</td>*@

            @*<td ng-hide="IsMrr">{{dataModel.Qty| number:2}}</td>*@

         

            @*<td ng-show="IsMrr"><input type="number" min="0.00" id="txtMrrQty" name="txtMrrQty" class="form-control" ng-model="dataModel.Qty" placeholder="Decimal" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.01" onchange="(function(el){el.value=parseFloat(el.value).toFixed(2);})(this)" ng-blur="calculation(dataModel)" /></td>*@



            @*<td ng-show="IsMrr">{{dataModel.GrrAdditionalQty| number:2}}</td>
            <td ng-show="IsMrr">{{dataModel.QCAdditionalQty| number:2}}</td>*@

            <td ng-show="CommonFLoanReceiveNMrr">{{dataModel.GrrAdditionalQty| number:2}}</td>
            <td ng-show="CommonFLoanReceiveNMrr">{{dataModel.QCAdditionalQty| number:2}}</td>



            @*<td ng-show="IsCommonMrrAccountsDept">{{dataModel.AvailableAdditonalQty| number:2}}</td>*@

            <td ng-show="false">{{dataModel.AvailableAdditonalQty| number:2}}</td>

            <td style="display:none">{{dataModel.MrrValidAdditonalQty| number:2}}</td>

            @*<td ng-show="CommonFIssueNReturnReceive">{{dataModel.AdditionalQty| number:2}}</td>*@

            @*<td ng-hide="IsMrr">{{dataModel.AdditionalQty| number:2}}</td>*@

            @*<td ng-show="IsMrr">{{dataModel.AdditionalQty| number:2}}</td>*@

            <td ng-show="CommonFLoanReceiveNMrr">{{dataModel.AdditionalQty| number:2}}</td>


            @*<td ng-show="IsMrr"><input type="number" min="0.00" id="txtMrrAdditionalQty" name="txtMrrAdditionalQty" class="form-control" ng-model="dataModel.AdditionalQty" placeholder="Decimal" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.01" onchange="(function(el){el.value=parseFloat(el.value).toFixed(2);})(this)" ng-blur="calculationAdditionalQty(dataModel)" /></td>*@

             

            <td>{{dataModel.CurrentStock| number:2}}</td>

            <td style="text-align:right; color:white">
                <span class="label label-danger label-mini">
                    <a href="javascript:void(0);" data-toggle="modal" class="bs-tooltip" title="Select">
                        <i class="icon-trash" ng-click="deleteRow($index)"></i>
                    </a>
                </span>
            </td>

        </tr>
    </tbody>
</table>
<p ng-show="(ListMrrDetails).length == 0" style="color:red">Nothing found!</p>

<div class="loadmore">
    <div ng-show="loaderMore" ng-class="result">
        {{lblMessage}}
    </div>
    <div ng-show="scrollended" ng-class="result">
        {{lblMessage}}
    </div>
</div>