
<form novalidate name="frmItemSize" id="custForm" class="form-horizontal row-border">
    <input type="hidden" id="custID" readonly="readonly" ng-model="CustID" />

    <div class="form-group">
        <label class="col-md-3 control-label">Size Name</label>
        <div class="col-md-7">
            <input type="text"
                   id="sizeName"
                   class="form-control"
                   name="sizeName" ng-model="SizeName" required />
        </div>
        <span class="error" ng-show="(frmItemSize.$dirty||submitted) && frmItemSize.sizeName.$error.required">*</span>
    </div>

    <div class="form-group">
        <label class="col-md-3 control-label"></label>
        <div class="col-md-7">
            <input type="button" id="reset" class="btn btn-danger" value="Reset" ng-click="clear()" ng-disabled="frmItemSize.$invalid" />
            <input type="button" id="save" class="btn btn-success" value="Save" ng-click="save()" ng-disabled="frmItemSize.$invalid" />
        </div>
    </div>
</form>
