
<form novalidate name="frmSizingChemicaleConsumptionEntryMaster" id="setSetupEntry" class="form-horizontal row-border">
    <input type="hidden" id="ChemicalConsumptionID" readonly="readonly" ng-model="ChemicalConsumptionID" />

    <div class="row">

        <div class="col-md-6">

            <div class="form-group">
                <label class="col-md-4 control-label" for="input17">Article No</label>
                @*<div class="col-md-6">
                    <select id="ArticleList" class="select2-select-00"
                            ng-model="lstArticleList"
                            ng-change="loadSetRecords(0)"
                            name="articleList"
                            data-placeholder="--Select Article No--"
                            style="width: 100%;"
                            ng-options="A.ItemID as A.ArticleNo for A in ListArticle"
                            required>
                        <option></option>
                    </select>
                </div>*@
                <div class="col-md-6" style="display:inline-flex">
                    <input type="text" id="txtArticleNo" class="form-control" name="txtArticleNo" ng-model="ArticleNo" placeholder="--Select Article No--" readonly="readonly" style="width:100%;margin-right:2px;" />
                
                </div>
                <span class="label label-success label-mini">
                    <a href="javascript:void(0);" ng-click="loadSampleNoModalRecords(0)" class="bs-tooltip" title="Show Sample No">
                        <i class="icon-search"></i>
                    </a>
                </span>
                <span class="error" ng-show="(frmSizingChemicaleConsumptionEntryMaster.$dirty||submitted) && frmSizingChemicaleConsumptionEntryMaster.articleList.$error.required"></span>
            </div>

            <div class="form-group">
                <label class="col-md-4 control-label" for="input17">Set</label>
                <div class="col-md-6">
                    <select id="SetList" class="select2-select-00"
                            ng-model="lstSetList"
                            @*ng-change="callGenerate(0)"*@
                            name="setList"
                            data-placeholder="--Select Set No--"
                            style="width: 100%;"
                            ng-options="S.SetID as S.SetNo for S in ListSet"
                            required>
                        <option></option>
                    </select>
                </div>
                <span class="error" ng-show="(frmSizingChemicaleConsumptionEntryMaster.$dirty||submitted) && frmSizingChemicaleConsumptionEntryMaster.setList.$error.required"></span>
            </div>

        </div>

        <div class="col-md-6">

            <div class="form-group">
                <label class="col-md-4 control-label">Date</label>
                <div class="col-md-6">
                    <input type="text"
                           id="ConsumptionDate"
                           class="form-control datepicker"
                           name="ConsumptionDate" ng-model="ConsumptionDate" />
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-4 control-label">Remarks</label>
                <div class="col-md-6">
                    <input type="text"
                           id="Remarks"
                           class="form-control"
                           name="Remarks" ng-model="Remarks" />
                </div>
            </div>

        </div>

    </div>

</form>
